.Button {
    width: 30%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.4);
    font-weight: 700;
    font-size: 24px;
}
