.Console {
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    width: 450px;
    border-radius: 10px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.5);
}
